.container {
  width: 90%;
  margin: auto;
  text-align: center;
  margin-top: 85px;
}

.dice {
  text-align: center;
  display: inline-block;
  margin: 70px;

}

body {
  background-color: #1F1F1F;
  height: 100vh;
}

h1 {
  display: inline;
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 5rem;
  color: #E0E0E0;
}

p {
  font-size: 2rem;
  margin-top: 0;
  color: #E0E0E0;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

button
{
  

  padding: 15px 30px;
  font-size: 1.5rem;
  border-radius: 5px;
    background-color: #FFD700;
    color: #1F1F1F;
    font-weight: bold;
    cursor: pointer;
    border: none;
    margin-top: 2rem;
  }
  



